<!--
* @author Naveen Kumar <imnaveenyadav@gmail.com> 
* version: 1.0.0 
* https://github.com/NaveenKY/Messages/
*-->
<form class="form login-body margin-top-40" onsubmit="return false;">
	<header>Enter User Name</header>
	<fieldset>					
		<section>
			<div class="row">
				<div class="form-group col col-12">
					<label class="input">
						<i class="icon-append fa-user"></i>
						<input type="text" name="userName" id="userName" rv-value="model:userName" autocomplete="off" />
					</label>
					<span class="help-block hidden"></span>
				</div>
			</div>
		</section>
	</fieldset>
	<footer>
		<button type="button" id="continue" class="button">Continue</button>
	</footer>
</form>